# Prerequisites
*.d
*.uimg
*.img

# Object files
*.o
*.ko
*.obj
*.elf
*.dep

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.dis
*.rar
*.asm

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.old

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Download gcc compiler
/tools/gcc-*/*
/tools/gcc-*
/tools/gdb-*

#pyc files
*.pyc
.vscode
.vscode-ctags

# Standalone sdk
#standalone
sdk
phytium-standalone-sdk



#vim
tags
