# Phytium Iot gitlab-ci.yml file

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" 

stages:
  - pre_stage     # 准备阶段
  - compile_stage # 编译阶段
  - test_stage    # 测试阶段
  - loop_test_stage # 循环测试阶段
  - report_stage  # 测试报表生成阶段
  - post_stage    # 收尾阶段

default:
  before_script:
    - export TERM=dumb

# 所有soc覆盖编译启动
all_soc_compile:
  stage: compile_stage
  script:
    - echo "All soc config compile is about to start..."
  tags:
    - compile
  when: manual

# 各模块编译
freertos_feature_compile:
  stage: compile_stage
  script:
    - cd /home3/gitlab_runner_workspace/auto_compile_tool
    - python3 set_common_info.py /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_compile.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/freertos_feature
  tags:
    - compile
  needs: ["all_soc_compile"]

network_compile:
  stage: compile_stage
  script:
    - cd /home3/gitlab_runner_workspace/auto_compile_tool
    - python3 set_common_info.py /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_compile.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/network
  tags:
    - compile
  needs: ["all_soc_compile"]

peripheral_compile:
  stage: compile_stage
  script:
    - cd /home3/gitlab_runner_workspace/auto_compile_tool
    - python3 set_common_info.py /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_compile.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/peripheral
  tags:
    - compile
  needs: ["all_soc_compile"]

storage_compile:
  stage: compile_stage
  script:
    - cd /home3/gitlab_runner_workspace/auto_compile_tool
    - python3 set_common_info.py /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_compile.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/storage
  tags:
    - compile
  needs: ["all_soc_compile"]

system_compile:
  stage: compile_stage
  script:
    - cd /home3/gitlab_runner_workspace/auto_compile_tool
    - python3 set_common_info.py /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_compile.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/system
  tags:
    - compile
  needs: ["all_soc_compile"]

template_compile:
  stage: compile_stage
  script:
    - cd /home3/gitlab_runner_workspace/auto_compile_tool
    - python3 set_common_info.py /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home3/gitlab_runner_workspace/auto_compile_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_compile.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/template
  tags:
    - compile
  needs: ["all_soc_compile"]

# 各模块板级测试
code_update:
  stage: test_stage
  script:
    - echo "Code has been updated."
  tags:
    - test
  allow_failure: true
  when: manual

freertos_feature_test:
  stage: test_stage
  script:
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/freertos_feature
  tags:
    - test
  allow_failure: true
  when: manual

network_test:
  stage: test_stage
  script:
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/network
  tags:
    - test
  allow_failure: true
  when: manual

peripheral_test:
  stage: test_stage
  script:
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/peripheral
  tags:
    - test
  allow_failure: true
  when: manual

storage_test:
  stage: test_stage
  script:
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/storage
  tags:
    - test
  allow_failure: true
  when: manual

system_test:
  stage: test_stage
  script:
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/system
  tags:
    - test
  allow_failure: true
  when: manual

loop_test:
  stage: loop_test_stage
  script:
    - sleep 1
    - echo TEST_PROJECT_DIR = "$TEST_PROJECT_DIR"
    - echo LOOP_COUNT = "$LOOP_COUNT"
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/$TEST_PROJECT_DIR $LOOP_COUNT
  tags:
    - test
  allow_failure: true
  when: manual

loop_test1:
  stage: loop_test_stage
  script:
    - sleep 1
    - echo TEST_PROJECT_DIR1= "$TEST_PROJECT_DIR1"
    - echo LOOP_COUNT1 = "$LOOP_COUNT1"
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/$TEST_PROJECT_DIR1 $LOOP_COUNT1
  tags:
    - test
  allow_failure: true
  when: manual
  
loop_test2:
  stage: loop_test_stage
  script:
    - sleep 1
    - echo TEST_PROJECT_DIR2 = "$TEST_PROJECT_DIR2"
    - echo LOOP_COUNT2 = "$LOOP_COUNT2"
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/$TEST_PROJECT_DIR2 $LOOP_COUNT2
  tags:
    - test
  allow_failure: true
  when: manual

loop_test3:
  stage: loop_test_stage
  script:
    - sleep 1
    - echo TEST_PROJECT_DIR3 = "$TEST_PROJECT_DIR3"
    - echo LOOP_COUNT3 = "$LOOP_COUNT3"
    - cd /home/gitlab-runner/test_tool
    - python3 set_common_info.py /home/gitlab-runner/test_tool/phytium-test-tools/test_tool/config_info/common.json freertos
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_board_test.py $CI_PROJECT_DIR $CI_PROJECT_DIR/example/$TEST_PROJECT_DIR3 $LOOP_COUNT3
  tags:
    - test
  allow_failure: true
  when: manual
  
  
  # 测试报表生成
update_report:
  stage: report_stage
  script:
    - cd /home/gitlab-runner/test_tool/phytium-test-tools/test_tool
    - python3 gitlab_pipeline_report_display.py freertos $CI_PROJECT_DIR
  tags:
    - test
  when: manual
  artifacts:
    paths:
      - report_for_gitlab_pipeline/