CONFIG_ARCH_ARMV8_AARCH32=y
# CONFIG_USE_AARCH64_L1_TO_AARCH32 is not set
CONFIG_TARGET_PE2202=y
CONFIG_TARGET_NAME="openamp_device_core"
CONFIG_LOG_VERBOS=y
CONFIG_LOG_DISPALY_CORE_NUM=y
CONFIG_INTERRUPT_ROLE_SLAVE=y
CONFIG_USE_SERIAL=y
# CONFIG_OUTPUT_BINARY is not set
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_LOAD_ADDRESS=0xe0100000
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_FREERTOS_USE_UART=y
CONFIG_USE_AMP=y
CONFIG_USE_OPENAMP=y
CONFIG_USE_OPENAMP_IPI=y
# CONFIG_USE_TLSF is not set
