CONFIG_ARCH_ARMV8_AARCH32=y
CONFIG_USE_L3CACHE=y
CONFIG_DISABLE_L3CACHE=y
CONFIG_USE_MSDF=y
CONFIG_TARGET_D2000=y
CONFIG_TARGET_NAME="openamp_driver_core"
CONFIG_LOG_INFO=y
CONFIG_LOG_DISPALY_CORE_NUM=y
# CONFIG_OUTPUT_BINARY is not set
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_AMP=y
CONFIG_USE_OPENAMP=y
CONFIG_USE_OPENAMP_IPI=y
