# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
CONFIG_TARGET_PD2408=y
CONFIG_PD2408_TEST_B_BOARD=y
CONFIG_TARGET_NAME="spi_spiffs"
CONFIG_USE_IOMUX=y
CONFIG_ENABLE_IOPAD=y
CONFIG_USE_MSG=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_FREERTOS_USE_FSPIM_V2=y
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_SFUD=y
# CONFIG_USE_TLSF is not set
CONFIG_USE_SPIFFS=y
CONFIG_SPIFFS_ON_FSPIM_V2_SFUD=y
