#
# For a description of the syntax of this configuration file,
# see tools/kconfiglib/kconfig-language.txt.
#

mainmenu "Phytium FreeRTOS SDK Configuration"

	menu "Project Configuration"
		menu "FT2000-4 AARCH32 FreeRTOS Configuration"
		
			config TARGET_NAME
				string "Build Target Name"
				default "ft2004_freertos"
				help
					Build Target name for the demo
			choice TARGET_DEMO_TYPE
				prompt "Choose The Demo"
				default DEMO_MSG_QUEUE
				help
					Choose the FreeRTOS Demo.

				config DEMO_HELLO_WORLD
					bool
					prompt "Hello World"

				config DEMO_GET_CPU_STATS
					bool
					prompt "Show CPU Statistics"

				config DEMO_MSG_QUEUE
					bool
					prompt "Message Queue"	

				config DEMO_SEMAPHORE
					bool
					prompt "Semaphore"	

			endchoice # TARGET_DEMO_TYPE				
		endmenu
	endmenu

source "$(FREERTOS_SDK_ROOT)/Kconfig"

