CONFIG_FATFS_SPEED_TEST=y
CONFIG_FATFS_CYCLE_TEST=y
CONFIG_ARCH_ARMV8_AARCH32=y
CONFIG_TARGET_NAME="fatfs"
CONFIG_LOG_EXTRA_INFO=y
CONFIG_USE_SDMMC=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_HEAP_SIZE=2
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_FATFS_0_1_4=y
CONFIG_FATFS_SDMMC_FSDIF_TF=y
CONFIG_FATFS_SDMMC_FSDIF_EMMC=y
CONFIG_FATFS_SATA_DISK=y
CONFIG_FATFS_USB=y
CONFIG_FATFS_VOLUME_COUNT=10
CONFIG_USE_CHERRY_USB=y
CONFIG_CHERRY_USB_HOST_MSC=y
CONFIG_USE_FSL_SDMMC=y
CONFIG_FSL_SDMMC_USE_FSDIF=y
