CONFIG_ARCH_ARMV8_AARCH32=y
CONFIG_TARGET_PD2008=y
CONFIG_TARGET_NAME="lwip_startup"
CONFIG_USE_ETH=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_USE_LWIP=y
CONFIG_LWIP_FGMAC=y
# CONFIG_LWIP_NO_SYS is not set
CONFIG_LWIP_USE_MEM_HEAP=y
CONFIG_MEM_SIZE=2
CONFIG_LWIP_IP4_REASSEMBLY=y
CONFIG_IP_REASS_MAX_PBUFS=32
CONFIG_LWIP_MULTICAST_PING=y
CONFIG_LWIP_BROADCAST_PING=y
CONFIG_LWIP_DHCP_ENABLE=y
CONFIG_LWIP_TCPIP_CORE_LOCKING=y
CONFIG_LWIP_DEBUG=y
CONFIG_LWIP_NETIF_DEBUG=y
CONFIG_USE_LETTER_SHELL=y
