CONFIG_TARGET_PHYTIUMPI=y
CONFIG_TARGET_NAME="posix"
# CONFIG_CHECK_DEPS is not set
CONFIG_DEBUG_FULLOPT=y
CONFIG_DEBUG_OPT_UNUSED_SECTIONS=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_OUTPUT_ASM_DIS=y
CONFIG_USE_NEWLIB=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_USE_LETTER_SHELL=y
CONFIG_FREERTOS_QUEUE_REGISTRY_SIZE=1
CONFIG_FREERTOS_USE_POSIX=y
