# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
CONFIG_TARGET_PD2408=y
CONFIG_USE_SPI_IOPAD=y
CONFIG_TARGET_NAME="spi_msg"
CONFIG_LOG_EXTRA_INFO=y
CONFIG_USE_IOMUX=y
CONFIG_ENABLE_IOPAD=y
CONFIG_USE_MSG=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_FREERTOS_USE_FSPIM_V2=y
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_SFUD=y
CONFIG_SFUD_CTRL_FSPIM_V2=y
CONFIG_FREERTOS_KERNEL_INTERRUPT_PRIORITIES=11
