CONFIG_ARCH_ARMV8_AARCH32=y
CONFIG_TARGET_PHYTIUMPI=y
CONFIG_TARGET_NAME="spi"
CONFIG_LOG_EXTRA_INFO=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_FREERTOS_USE_FSPIM=y
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_SFUD=y
CONFIG_SFUD_CTRL_FSPIM=y
CONFIG_SFUD_TRANS_MODE_INTRRUPT=y
CONFIG_FREERTOS_KERNEL_INTERRUPT_PRIORITIES=11
