CONFIG_TARGET_PHYTIUMPI=y
CONFIG_TARGET_NAME="pusb2"
CONFIG_LOG_EXTRA_INFO=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_FRAME_POINTER=y
CONFIG_OUTPUT_ASM_DIS=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x5000000
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_CHERRY_USB=y
CONFIG_CHERRY_USB_PORT_PUSB2=y
CONFIG_CHERRY_USB_HOST_MSC=y
CONFIG_CHERRY_USB_HOST_HID=y
