# entry of menuconfig

menu  "Linker Options"
    choice 
        prompt "Select Linker Script Template"
        optional
        default QEMU_AARCH32_RAM_LD if TARGET_AARCH32_QEMU

        config AARCH32_RAM_LD
            bool "Use aarch32_ram.ld"
            help
                Use linkscript for booting AARCH32 Baremetal Image from DDR

        config AARCH64_RAM_LD
            bool "Use aarch64_ram.ld"
            help
                Use linkscript for booting AARCH64 Baremetal Image from DDR  

    if USE_BAREMETAL_AMP
        config AARCH32_AMP_RAM_MASTER_LD
            bool "Use aarch32_amp_master_ram.ld"
            help
                Use linkscript for booting AARCH32 Master Baremetal Image from DDR
    
        config AARCH32_AMP_RAM_SLAVE_LD
            bool "Use aarch32_amp_slave_ram.ld"
            help
                Use linkscript for booting AARCH32 Slave Baremetal Image from DDR
    endif

        config QEMU_AARCH32_RAM_LD
            bool "Use qemu_aarch32_ram.ld"
            help
                Use linkscript booting AARCH32 Qemu from DDR 

        config USER_DEFINED_LD
            bool "Other link script"
            help
                Use other link script provided by User

    endchoice
    
    config LINK_SCRIPT_ROM
        bool "Allocate ROM"
        default y
        help
            Allocate ROM for link scripts

    if LINK_SCRIPT_ROM
        config ROM_START_UP_ADDR
            hex "ROM Start up Address"
            default "0x80100000"
            help
                Assign Start up Address for ROM in Linkscript

        config ROM_SIZE_MB
            int "ROM Size (MB)"
            default "1"
            help
                Assign ROM size for Master Core in Linkscript        
    endif

    config LINK_SCRIPT_RAM
        bool "Allocate RAM"
        default y
        help
            Allocate RAM for link scripts  

    if LINK_SCRIPT_RAM
        config RAM_START_UP_ADDR
            hex "RAM Start up Address"
            default "0x81000000"
            help
                Assign Start up Address for RAM in Linkscript

        config RAM_SIZE_MB
            int "RAM Size (MB)"
            default "64"
            help
                Assign RAM size in Linkscript            
    endif

    config HEAP_SIZE
        hex "Heap Size"
        default "0x100000"
        help
            Assign Heap size in Linkscript

    if TARGET_ARMV8_AARCH32
        config STACK_SIZE
            hex "Stack Size"
            default "0x100000"
            help
                Assign Stack size in Linkscript  
    endif

    if TARGET_ARMV8_AARCH64
        config STACK_TOP_ADDR
            hex "Stack Top Address"
            default "0x82000000"
            help
                Assign Stack top address in Linkscript              
    endif
endmenu

