# entry of menuconfig

menu  "Linker Options"
    choice 
        prompt "Select Linker Script Template"
        optional

        config AARCH32_RAM_LD
            bool "Use aarch32_ram.ld"
            help
                Use linkscript for booting AARCH32 Baremetal Image from DDR

        config AARCH64_RAM_LD
            bool "Use aarch64_ram.ld"
            help
                Use linkscript for booting AARCH64 Baremetal Image from DDR  

        config USER_DEFINED_LD
            bool "Other link script"
            help
                Use other link script provided by User

    endchoice
    
    config LINK_SCRIPT_ROM
        bool "Allocate ROM"
        default y
        help
            Allocate ROM for link scripts

    if LINK_SCRIPT_ROM
        config ROM_START_UP_ADDR
            hex "ROM Start up Address"
            default "0x80100000"
            help
                Assign Start up Address for ROM in Linkscript

        config ROM_SIZE_MB
            int "ROM Size (MB)"
            default "1"
            help
                Assign ROM size for Master Core in Linkscript        
    endif

    config LINK_SCRIPT_RAM
        bool "Allocate RAM"
        default y
        help
            Allocate RAM for link scripts  

    if LINK_SCRIPT_RAM
        config RAM_START_UP_ADDR
            hex "RAM Start up Address"
            default "0x81000000"
            help
                Assign Start up Address for RAM in Linkscript

        config RAM_SIZE_MB
            int "RAM Size (MB)"
            default "64"
            help
                Assign RAM size in Linkscript            
    endif

    config HEAP_SIZE
        int "Heap Size (MB)"
        default "1"
        help
            Assign Heap size in Linkscript

    config STACK_SIZE
        hex "Stack Size (Byte)"
        default "0x100000"
        depends on AARCH64_RAM_LD
        help
            Assign Stack size in Linkscript  


    config SVC_STACK_SIZE
        hex "Aarch32 supervisor stack size (Byte)"
        default "0x1000"
        depends on AARCH32_RAM_LD
        help
            Assign Stack size in Linkscript  

    config SYS_STACK_SIZE
        hex "Aarch32 system stack size (Byte)"
        default "0x1000"
        depends on AARCH32_RAM_LD
        help
            Assign system stack size in Linkscript  
    
    config IRQ_STACK_SIZE
        hex "Aarch32 Irq stack size (Byte)"
        default "0x1000"
        depends on AARCH32_RAM_LD
        help
            Assign Irq stack size in Linkscript  
    
    config ABORT_STACK_SIZE
        hex "Aarch32 abort stack size (Byte)"
        default "0x1000"
        depends on AARCH32_RAM_LD
        help
            Assign abort stack size in Linkscript  

    config FIQ_STACK_SIZE
        hex "Aarch32 fiq stack size (Byte)"
        default "0x1000"
        depends on AARCH32_RAM_LD
        help
            Assign abort stack size in Linkscript  
    
    config UNDEF_STACK_SIZE
        hex "Aarch32 undef stack size (Byte)"
        default "0x1000"
        depends on AARCH32_RAM_LD
        help
            Assign undef stack size in Linkscript 

    config FPU_STACK_SIZE
        hex "Fpu stack Size (Byte)"
        default "0x1000"
        depends on AARCH64_RAM_LD
        help
            Assign Fpu stack size in Linkscript

endmenu

