#
# For a description of the syntax of this configuration file,
# see tools/kconfiglib/kconfig-language.txt.
#


mainmenu "Phytium FreeRTOS Configuration"

	menu "Project Configuration"

		menu " FreeRTOS Configuration"
		config TARGET_NAME
			string "Build Target Name"
			default "openamp_for_linux"
			help
				Build Target name for the demo

	endmenu

endmenu

source "$(SDK_DIR)/../freertos.kconfig"

