
menu " E2000 board Configuration"

    choice EXAMPLE_IP_MODE
        prompt "choice lwip config"
        help
            Example can multicast IPV4, IPV6, or both.

        default LWIP_IPV4_TEST
        config LWIP_IPV4_TEST
            bool "test lwip ipv4" 
        config LWIP_IPV4_DHCP_TEST
            bool "test lwip ipv4 and dhcp"
        config LWIP_IPV6_TEST
            bool "test lwip ipv6"
    endchoice

    config LWIP_IPV4_TEST
        bool
        select LWIP_ICMP
        select USE_IPV4_ONLY
        select LWIP_NETIF_DEBUG

    config LWIP_IPV4_DHCP_TEST
        bool
        select LWIP_DHCP_ENABLE
        select LWIP_ICMP
        select USE_IPV4_ONLY
        select LWIP_NETIF_DEBUG
        # select LWIP_DHCP_DEBUG

    config LWIP_IPV6_TEST
        bool
        select LWIP_IPV6
        select LWIP_NETIF_DEBUG


    config TARGET_NAME
        string "Build Target Name"
        default "eth test"
        help
            Build Target name for the demo

    choice EVALUATION_BOARD_TYPE
        prompt "Select evaluation board"
        default BOARD_TYPE_B
        help
            Select board type for build
        config BOARD_TYPE_B
            bool "evaluation board b"
        config BOARD_TYPE_C
            bool "evaluation board c"
        config BOARD_TYPE_A
            bool "evaluation board a"
        config BOARD_TYPE_DEMO
            bool "evaluation board demo"
        endchoice # BUILD_TARGET_ARCH_TYPE

endmenu
