CONFIG_TARGET_PE2202=y
CONFIG_TARGET_NAME="i2s"
CONFIG_LOG_NONE=y
CONFIG_USE_I2C=y
CONFIG_USE_FI2C=y
CONFIG_USE_MIO=y
CONFIG_ENABLE_MIO=y
CONFIG_USE_DMA=y
CONFIG_ENABLE_FDDMA=y
CONFIG_USE_I2S=y
CONFIG_USE_ES8336=y
CONFIG_USE_FI2S=y
CONFIG_USE_DEVICE=y
CONFIG_USE_FDEVICE=y
CONFIG_USE_FES8336=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x20000000
CONFIG_FREERTOS_USE_FDDMA=y
CONFIG_FREERTOS_USE_I2C=y
CONFIG_FREERTOS_USE_MIO=y
CONFIG_FREERTOS_USE_I2S=y
CONFIG_USE_LETTER_SHELL=y
