CONFIG_ARCH_ARMV8_AARCH32=y
CONFIG_MFLOAT_ABI_SOFTFP=y
CONFIG_TARGET_NAME="pcie_xhci_softfp"
CONFIG_LOG_EXTRA_INFO=y
CONFIG_USE_PCIE=y
CONFIG_ENABLE_FPCIE_ECAM=y
CONFIG_DEBUG_NOOPT=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_CHERRY_USB=y
CONFIG_CHERRY_USB_PORT_XHCI_PCIE=y
CONFIG_CHERRY_USB_HOST_MSC=y
CONFIG_CHERRY_USB_HOST_HID=y
