menu "FreeRTOS Uart Drivers"
    config FREERTOS_USE_UART
        bool
        prompt "Use FreeRTOS uart driver"
        default n
endmenu

menu "FreeRTOS Pwm Drivers"
    config FREERTOS_USE_PWM
        bool
        prompt "Use FreeRTOS pwm driver"
        default n
        select USE_PWM
        select USE_FPWM
endmenu

menu "FreeRTOS Qspi Drivers"
    config FREERTOS_USE_QSPI
        bool
        prompt "Use FreeRTOS qspi driver"
        default n
        select USE_QSPI
        select USE_FQSPI
endmenu

menu "FreeRTOS Wdt Drivers"
    config FREERTOS_USE_WDT
        bool
        prompt "Use FreeRTOS wdt driver"
        default n
        select USE_WDT
        select USE_FWDT
endmenu

menu "FreeRTOS Eth Drivers"
    config FREERTOS_USE_XMAC
        select ENABLE_FXMAC
        bool
        prompt "Use FreeRTOS xmac driver"
        default n
    
    config FREERTOS_USE_GMAC
        select ENABLE_FGMAC
        bool
        prompt "Use FreeRTOS gmac driver"
        default n
endmenu

menu "FreeRTOS Spim Drivers"
    config FREERTOS_USE_FSPIM
        bool
        prompt "Use FreeRTOS spim driver"
        default n
        select USE_SPI
        select USE_FSPIM
endmenu

menu "FreeRTOS DMA Drivers"
    config FREERTOS_USE_FDDMA
        bool
        prompt "Use FreeRTOS ddma driver"
        default n

    config FREERTOS_USE_FGDMA
        bool
        prompt "Use FreeRTOS gdma driver"
        default n
endmenu

menu "FreeRTOS Adc Drivers"
    config FREERTOS_USE_ADC
        bool
        prompt "Use FreeRTOS adc driver"
        default n
        select USE_ADC
        select USE_FADC
endmenu

menu "FreeRTOS Can Drivers"
    config FREERTOS_USE_CAN
        bool
        prompt "Use FreeRTOS can driver"
        default n
        select USE_CAN
        select USE_FCAN
endmenu

menu "FreeRTOS I2c Drivers"
    config FREERTOS_USE_I2C
        bool
        prompt "Use FreeRTOS i2c driver"
        default n
endmenu

menu "FreeRTOS Mio Drivers"
    config FREERTOS_USE_MIO
        bool
        prompt "Use FreeRTOS mio driver"
        default n
endmenu

menu "FreeRTOS Timer Drivers"
    config FREERTOS_USE_TIMER
        bool
        prompt "Use FreeRTOS timer driver"
        default n
endmenu

menu "FreeRTOS Media Drivers"
    config FREERTOS_USE_MEDIA
        bool
        prompt "Use FreeRTOS media driver"
        default n
endmenu

menu "FreeRTOS I2s Drivers"
    config FREERTOS_USE_I2S
        bool
        prompt "Use FreeRTOS i2s driver"
        default n
endmenu


