CONFIG_TARGET_NAME="pusb2_lib"
CONFIG_LOG_EXTRA_INFO=y
CONFIG_DEBUG_NOOPT=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x50000000
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_CHERRY_USB=y
CONFIG_CHERRY_USB_PORT_PUSB2=y
CONFIG_CHERRYUSB_DEVICE=y
CONFIG_CHERRY_USB_DEVICE_MSC=y
CONFIG_CHERRY_USB_DEVICE_CDC=y
CONFIG_CHERRY_USB_DEVICE_HID=y
CONFIG_CHERRY_USB_DEVICE_VEDIO=y
