# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
CONFIG_TARGET_PD2408=y
CONFIG_USE_UART_IOPAD=y
CONFIG_PD2408_TEST_B_BOARD=y
CONFIG_TARGET_NAME="eg"
CONFIG_LOG_DEBUG=y
CONFIG_USE_IOMUX=y
CONFIG_ENABLE_IOPAD=y
CONFIG_USE_MSG=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_USE_LETTER_SHELL=y
CONFIG_LS_SERIAL_V2=y
CONFIG_LETTER_SHELL_UART_MSG_INTR_MODE=y
