# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
CONFIG_PHYTIUMPI_FIREFLY_BOARD=y
CONFIG_TARGET_NAME="eg"
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_SOC_CORE_NUM=1
CONFIG_F32BIT_MEMORY_ADDRESS=0xB0000000
CONFIG_F32BIT_MEMORY_LENGTH=0x30000000
CONFIG_IMAGE_LOAD_ADDRESS=0xB0400000
CONFIG_IMAGE_MAX_LENGTH=0x30000000
CONFIG_USE_LETTER_SHELL=y
