# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
CONFIG_PHYTIUMPI_FIREFLY_BOARD=y
CONFIG_TARGET_NAME="media"
CONFIG_LOG_DEBUG=y
CONFIG_USE_MEDIA=y
CONFIG_USE_FMEDIA=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x20000000
CONFIG_FREERTOS_USE_MEDIA=y
CONFIG_USE_LETTER_SHELL=y
CONFIG_USE_LVGL=y
CONFIG_USE_CHERRY_USB=y
CONFIG_CHERRY_USB_HOST_MSC=y
CONFIG_CHERRY_USB_HOST_HID=y
