# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
CONFIG_TARGET_PD2408=y
CONFIG_PD2408_TEST_B_BOARD=y
CONFIG_TARGET_NAME="wdt"
CONFIG_USE_IOMUX=y
CONFIG_ENABLE_IOPAD=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_FREERTOS_USE_WDT=y
CONFIG_USE_LETTER_SHELL=y
# CONFIG_USE_TLSF is not set
