
menu  "Compiler Options"


menu "Cross-Compiler Setting"

    config GCC_OPTIMIZE_LEVEL
        int "Set Optimize Level"
        default 0
        help 
            Set Optimize level for GCC

    config USE_EXT_COMPILER
        bool "Use User-Specified Compiler"
        default n

    config USE_KLIN_SYS
        bool "Use Klin system"
        default n

    config EXT_COMPILER_PREFIX
        depends on USE_EXT_COMPILER
        string ""
        default "arm-none-eabi-" if TARGET_ARMV8_AARCH32
        default "aarch64-none-elf-" if TARGET_ARMV8_AARCH64 
endmenu

config OUTPUT_BINARY
    bool "Build *.bin as Ouput"
        default n
        help
            Build binary files *.bin as Outputs 

endmenu

