# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
CONFIG_TARGET_PD2308=y
CONFIG_TARGET_NAME="nested_interrupt"
CONFIG_LOG_INFO=y
CONFIG_ENABLE_IOPAD=y
CONFIG_DEFAULT_LINKER_SCRIPT=y
CONFIG_IMAGE_MAX_LENGTH=0x2000000
CONFIG_USE_LETTER_SHELL=y
# CONFIG_USE_TLSF is not set
CONFIG_FREERTOS_MAX_API_CALL_INTERRUPT_PRIORITIES=12
